@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  --Medium-Grey: #828fa3;
  --Main-Purple: #635fc7;
  --Light-Grey: #f4f7fd;
  --Dark-Grey: #2b2c37;
  --Black: #000112;
  --White: #fff;
  --Very-Dark-Grey: #20212c;
  --Borders-dark: #3e3f4e;
  --Borders-light: #e4ebfa;
}

.logo {
  cursor: pointer;
}

/* Classic components */

/* Primary button */

.primary-button {
  background-color: var(--Main-Purple);
  flex-shrink: 0;
  border-radius: 24px;
  border: none;
  box-shadow: none;
  color: var(--White);
}

.primary-button:hover {
  opacity: 0.5;
}

.primary-button:focus {
  outline: none;
}

/* Toolbar */

.toolbar-button {
  position: fixed !important;
  height: 48px;
  position: fixed;
  right: 10px;
  top: 10px;

}

.toolbar-button.mobile button {
  font-size: 30px;
  padding: 0 20px;
  flex-shrink: 0;
}

/* Keyframes pour l'animation de bas en haut */
@keyframes moveUp {
  from {
    d: path("M1 6L5 2L9 6");
  }
  to {
    d: path("M1 1L5 5L9 1");
  }
}
/* État animé de la flèche */
.arrow-projects.up {
  animation: moveUp 0.3s forwards;
}
/* Keyframes pour l'animation de haut en bas */
@keyframes moveDown {
  from {
    d: path("M1 1L5 5L9 1");
  }
  to {
    d: path("M1 6L5 2L9 6");
  }
}
/* État animé de la flèche */
.arrow-projects.down {
  animation: moveDown 0.3s forwards;
}

/* Drawer Menu */

.drawer-title {
  display: flex;
  padding: 30px 0 20px 24px;
  font-family: "Plus Jakarta Sans";
  color: var(--Medium-Grey);
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.4px;
}

.drawer-hide {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 16px;
  cursor: pointer;
  color: var(--Medium-Grey);
  position: fixed;
  bottom: 12%;
  left: 10px;
}

.close {
  background-color: var(--Main-Purple);
  width: 56px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 0px 100px 100px 0px;
  position: fixed;
  left: 0;
}

.dark-light-mode {
  position: fixed;
  bottom: 20%;
  left: 15px;
  width: 200px;
  height: 48px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 6px;
}

.dark {
  background-color: #20212c !important;
  color: #828fa3 !important;
}

.dark-light-mode img {
  width: 18.333px;
  height: 18.333px;
  flex-shrink: 0;
}

.moon-icon {
  margin-left: 6px;
}

.list-item span {
  font-weight: 600 !important;
}

/* Modal */

/* Modal Create board */

.label {
  color: var(--Medium-Grey, #828fa3);
  font-family: "Plus Jakarta Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
