@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

* {
  transition: 0.3s !important;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  --Medium-Grey: #828fa3;
  --Main-Purple: #635fc7;
  --Light-Grey: #f4f7fd;
  --Dark-Grey: #2b2c37;
  --Black: #000112;
  --White: #fff;
  --Very-Dark-Grey: #20212c;
  --Borders-dark: #3e3f4e;
  --Borders-light: #e4ebfa;
}

.logo {
  cursor: pointer;
}

body {
  background-color: #f4f7fd !important;
}

/* Classic components */

/* Primary button */

.primary-button {
  background-color: var(--Main-Purple);
  flex-shrink: 0;
  border-radius: 24px;
  border: none;
  box-shadow: none;
  color: var(--White);
}

.primary-button:hover {
  opacity: 0.5;
}

.primary-button:focus {
  outline: none;
}

/* Toolbar */

.toolbar-button {
  position: fixed !important;
  height: 48px;
  position: fixed;
  right: 10px;
  top: 10px;
}

.toolbar-button.mobile button {
  font-size: 30px;
  padding: 0 20px;
  flex-shrink: 0;
}

/* Keyframes pour l'animation de bas en haut */
@keyframes moveUp {
  from {
    d: path("M1 6L5 2L9 6");
  }
  to {
    d: path("M1 1L5 5L9 1");
  }
}
/* État animé de la flèche */
.arrow-projects.up {
  animation: moveUp 0.3s forwards;
}
/* Keyframes pour l'animation de haut en bas */
@keyframes moveDown {
  from {
    d: path("M1 1L5 5L9 1");
  }
  to {
    d: path("M1 6L5 2L9 6");
  }
}
/* État animé de la flèche */
.arrow-projects.down {
  animation: moveDown 0.3s forwards;
}

/* Drawer Menu */

.drawer-title {
  display: flex;
  padding: 30px 0 20px 24px;
  font-family: "Plus Jakarta Sans";
  color: var(--Medium-Grey);
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.4px;
}

.drawer-hide {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 16px;
  cursor: pointer;
  color: var(--Medium-Grey);
  position: fixed;
  bottom: 12%;
  left: 10px;
}

.close {
  background-color: var(--Main-Purple);
  width: 56px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 0px 100px 100px 0px;
  position: fixed;
  left: 0;
}

.dark-light-mode {
  position: fixed;
  bottom: 20%;
  left: 15px;
  width: 200px;
  height: 48px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 6px;
}

.dark {
  background-color: #20212c !important;
  color: #828fa3 !important;
}

.dark-light-mode img {
  width: 18.333px;
  height: 18.333px;
  flex-shrink: 0;
}

.moon-icon {
  margin-left: 6px;
}

.list-item span {
  font-weight: 600 !important;
}

.css-1k455el {
  display: none !important;
}

.css-ttn1xo,
.css-yfo96e {
  position: fixed;
  left: 18%;
  top: 10%;
}

/* Modal */

/* Modal Create board */

.label {
  color: var(--Medium-Grey, #828fa3);
  font-family: "Plus Jakarta Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* Board */

.empty-board {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f4f7fd;
  color: var(--Medium-Grey, #828fa3);
  user-select: none;
}

.board-container {
  display: flex;
  gap: 24px;
  user-select: none;
}

.column-container {
  transition: background-color 0.3s ease;
  padding: 20px;
  border-radius: 6px;
  min-width: 280px;


}

.column-container.drag-over {
  background-color: #625fc711;
}

.column-label {
  display: flex;
  align-items: center;
  gap: 12px;
  padding-bottom: 24px;
}

.column-title {
  color: var(--Medium-Grey, #828fa3);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Plus Jakarta Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.4px;
}

.ticket {
  width: 280px;
  flex-shrink: 0;
  border-radius: 8px;
  background: var(--White, #fff);
  box-shadow: 0px 4px 6px 0px rgba(54, 78, 126, 0.1);
  padding: 23px 16px;
  text-align: left;
  margin-bottom: 20px;
  cursor: pointer;
  transition: transform 0.3s ease, opacity 0.3s ease;

}

.ticket.dragging {
  opacity: 0.5;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease;
  

}

.ticket.hovering {
  border: 2px dashed #ccc;
  
}

.ticket:hover .ticket-title {
  color: var(--Main-Purple, #635FC7);

}

.ticket-title {
  color: var(--Black, #000112);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Plus Jakarta Sans";
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
  padding-bottom: 8px;
}

.ticket-subtasks {
  color: var(--Medium-Grey, #828fa3);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Plus Jakarta Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}

.container-add-new-column {
  width: 280px;
  height: 600px;
  border-radius: 6px;
  background: linear-gradient(
    180deg,
    #e9effa 0%,
    rgba(233, 239, 250, 0.5) 100%
  );
  margin-top: 39px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container-add-new-column p {
  color: var(--Medium-Grey, #828fa3);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Plus Jakarta Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.container-add-new-column p:hover {
  color: var(--Main-Purple, #635FC7);
  cursor: pointer;
}
